In [209]:
import pandas as pd

@author: MUSTAFA YALINIZ

In [210]:
# Data okunur
data=pd.read_csv('veriler.csv')
data

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [211]:
# Encode kutuphansei yuklenir
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()

In [212]:
# Encode edilir
data['cinsiyet']=le.fit_transform(data['cinsiyet'])

In [213]:
cinsiyet=data[['cinsiyet']]

In [214]:
cinsiyet

    cinsiyet
0          0
1          0
2          1
3          1
4          0
5          0
6          0
7          0
8          1
9          0
10         1
11         1
12         1
13         1
14         1
15         0
16         0
17         0
18         0
19         1
20         1
21         1

In [215]:
# Sutunun adi degistirilir
erkek=cinsiyet.rename(columns={'cinsiyet':'erkek'})

In [216]:
ulke=data[['ulke']]

In [217]:
ulke

   ulke
0    tr
1    tr
2    tr
3    tr
4    tr
5    tr
6    tr
7    tr
8    tr
9    us
10   us
11   us
12   us
13   us
14   us
15   fr
16   fr
17   fr
18   fr
19   fr
20   fr
21   fr

In [218]:
# 3 Ayri sutun olusturulur
ulke=pd.get_dummies(ulke,dtype=int)

In [219]:
ulke

    ulke_fr  ulke_tr  ulke_us
0         0        1        0
1         0        1        0
2         0        1        0
3         0        1        0
4         0        1        0
5         0        1        0
6         0        1        0
7         0        1        0
8         0        1        0
9         0        0        1
10        0        0        1
11        0        0        1
12        0        0        1
13        0        0        1
14        0        0        1
15        1        0        0
16        1        0        0
17        1        0        0
18        1        0        0
19        1        0        0
20        1        0        0
21        1        0        0

In [220]:
# Ulke sutunu atilir
data=data.drop(['ulke'],axis=1)

In [221]:
# Iki veri birlestirilir
data=pd.concat([ulke,data],axis=1)
data

    ulke_fr  ulke_tr  ulke_us  boy  kilo  yas  cinsiyet
0         0        1        0  130    30   10         0
1         0        1        0  125    36   11         0
2         0        1        0  135    34   10         1
3         0        1        0  133    30    9         1
4         0        1        0  129    38   12         0
5         0        1        0  180    90   30         0
6         0        1        0  190    80   25         0
7         0        1        0  175    90   35         0
8         0        1        0  177    60   22         1
9         0        0        1  185   105   33         0
10        0        0        1  165    55   27         1
11        0        0        1  155    50   44         1
12        0        0        1  160    58   39         1
13        0        0        1  162    59   41         1
14        0        0        1  167    62   55         1
15        1        0        0  174    70   47         0
16        1        0        0  193    90   23         0
17        1        0        0  187    80   27         0
18        1        0        0  183    88   28         0
19        1        0        0  159    40   29         1
20        1        0        0  164    66   32         1
21        1        0        0  166    56   42         1

In [222]:
# Bagimli ve bagimsiz degisken bolunur
X=data.drop(['boy'],axis=1)
Y=data[['boy']]

In [223]:
# Test Train kutuphanesi yuklenir
from sklearn.model_selection import train_test_split

In [224]:
# Veri Test Train olmak uzere ikiye ayrilir
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=0,test_size=0.33)

In [225]:
# Egitim kutuphanesi yuklenir
from sklearn.linear_model import LinearRegression

In [226]:
# Model egitilir ve tahmin yapilir
lreg=LinearRegression()
lreg.fit(x_train,y_train)
prediction=lreg.predict(x_test)

In [227]:
prediction

array([[182.26638686],
       [152.87161474],
       [162.79386375],
       [158.30668577],
       [130.82888952],
       [173.96138408],
       [150.12782663],
       [157.26898922]])

In [228]:
y_test

    boy
20  164
10  165
14  167
13  162
1   125
21  166
11  155
19  159

In [229]:
# Hata orani ogrenilir
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,prediction)
mse

79.52310389367102

In [230]:
#Backward elimination 
import statsmodels.api as sm
import numpy as np
x=np.append(arr= np.ones((22,1),dtype=int),values=X,axis=1,) # Elemanlari 1 olan sutun eklenir

In [231]:
x

array([[  1,   0,   1,   0,  30,  10,   0],
       [  1,   0,   1,   0,  36,  11,   0],
       [  1,   0,   1,   0,  34,  10,   1],
       [  1,   0,   1,   0,  30,   9,   1],
       [  1,   0,   1,   0,  38,  12,   0],
       [  1,   0,   1,   0,  90,  30,   0],
       [  1,   0,   1,   0,  80,  25,   0],
       [  1,   0,   1,   0,  90,  35,   0],
       [  1,   0,   1,   0,  60,  22,   1],
       [  1,   0,   0,   1, 105,  33,   0],
       [  1,   0,   0,   1,  55,  27,   1],
       [  1,   0,   0,   1,  50,  44,   1],
       [  1,   0,   0,   1,  58,  39,   1],
       [  1,   0,   0,   1,  59,  41,   1],
       [  1,   0,   0,   1,  62,  55,   1],
       [  1,   1,   0,   0,  70,  47,   0],
       [  1,   1,   0,   0,  90,  23,   0],
       [  1,   1,   0,   0,  80,  27,   0],
       [  1,   1,   0,   0,  88,  28,   0],
       [  1,   1,   0,   0,  40,  29,   1],
       [  1,   1,   0,   0,  66,  32,   1],
       [  1,   1,   0,   0,  56,  42,   1]], dtype=int64)

In [232]:
# p values ogrenilir 
X_l=X.iloc[:,[0,1,2,3,4,5]].values  
X_l=np.array(X_l,dtype=float)
model=sm.OLS(Y,exog=X_l).fit()
model=model.summary()
model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    boy   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Wed, 28 Aug 2024   Prob (F-statistic):           5.41e-07
Time:                        19:09:30   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           103.4708      9.878     10.475      0.000      82.530     124.412
x2            97.7050      7.463     13.091      0.000      81.883     113.527
x3            93.8734     11.312      8.298      0.000      69.892     117.855
x4             0.9211      0.119      7.737      0.000       0.669       1.174
x5             0.0814      0.221      0.369      0.717      -0.386       0.549
x6            10.5980      5.052      2.098      0.052      -0.112      21.308
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                         678.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [233]:
# P values u buyuk olan eleman cikarilir 
X_l=X.iloc[:,[0,1,2,3,5]].values
X_l=np.array(X_l,dtype=float)
model=sm.OLS(Y,exog=X_l).fit()
model=model.summary()
model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    boy   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Wed, 28 Aug 2024   Prob (F-statistic):           9.32e-08
Time:                        19:09:30   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           104.5490      9.193     11.373      0.000      85.153     123.944
x2            97.9693      7.238     13.536      0.000      82.699     113.240
x3            95.4352     10.220      9.338      0.000      73.873     116.998
x4             0.9405      0.104      9.029      0.000       0.721       1.160
x5            11.1093      4.733      2.347      0.031       1.123      21.096
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         596.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""